*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#header{
    height: 30px;
    background-color: black;
}
#nav{
    height: 60px;
    background-color: purple;
}
#nav:hover{
    background-color: white;
}
#banner{
    height: 300px;
    background-color: aqua;
}
.section{
    height: 400px;
    width: 50%;
    border: 2px solid black;
}
#sec1{
    background-color: blue;
    height: 400px;
    width: 50%;
}
#sec2{
    background-color: yellow;
    height: 400px;
    width: 50%;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background-color: aqua;
}
#footer{
    height: 300px;
    background-color: black;
}