*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  background-image: linear-gradient(to right,red,orange,yellow);
  height: 900vh;
}


.badawalamain{
    height: 200px;
    width: 300px;
    margin: auto;
    position: relative;
    background-color: greenyellow;
    border: 1px solid black;
}

#main{
    background-color: pink;
    border: 2px solid black;
    height: 50px;
    width: 50px;
    position: absolute;
    left: 10px;
    top: 10px;

    border-radius: 100px;

}