/* Class selector */
.jet{
    background-color: #ff4757;
}
/* Class selector */

/* Id selctor */
#label{
    background-color: rgb(247, 247, 1);
}
/* Id selctor */


/* element selector */
form{
    background-color: pink;
}

/* element selector */

/* psudo class selector */

a:hover{
    background-color: #ffd000;
}

/* psudo class selector */